@media(max-width:1440px){
    .main, .about-container{
        padding: 0 66px 0 100px;
    }

    .line{
        height: 116px;
    }
}

@media(max-width:1227px){
    .line{
        height: 140px;
    }
}

@media(max-width:1069px){
    .my-name{
        width: 100%;
    }
}

@media(max-width:1040px){
    .line{
        height: 166px;
    }
}

@media(max-width:1024px){
    .image-main{
        height: 50%;
        width: 50%;
        margin-top: 30%;
    }

    .my-description{
        width: 70%;
    }

    .about-me{
        margin-left: 17px;
    }
}

@media(max-width:918px){
    .line{
        height: 190px;
    }
}

@media(max-width:841px){
    .line{
        height: 216px;
    }
}

@media(max-width:768px){
    .image-main{
        display: none;
    }

    .main{
        padding: 0 0 0 100px;
    }

    .images-skills img{
        width: 15%;
        height: 15%;
    }

    .about-me{
        margin-left: 16px;
    }
    
}

@media(max-width:763px){
    .line{
        height: 240px;
    }
}

@media(max-width:719px){
    .line{
        height: 266px;
    }
}

@media(max-width:686px){
    .line{
        height: 290px;
    }
}

@media(max-width:631px){
    .line{
        height: 316px;
    }
}

@media(max-width:609px){
    .line{
        height: 340px;
    }
}

@media(max-width:575px){
    .main{
        padding: 0 0 0 20px;
    }

    .about-container{
        padding: 0 10% 0 5%;
    }

    .line{
        height: 290px;
    }
}

@media(max-width:543px){
    .line{
        height: 316px;
    }
}

@media(max-width:521px){
    .line{
        height: 340px;
    }
}

@media(max-width:482px){
    .line{
        height: 366px;
    }
}

@media(max-width:456px){
    .line{
        height: 390px;
    }
}

@media(max-width:425px){
    .header{
        margin-bottom: 0px;
    }

    .nav{
        display: flex;
        justify-content: center;
    }

    .btn{
        width: 30%;
    }

    .main{
        padding: 0 0 0 20px;
    }

    .about-container{
        padding: 0 10% 0 5%;
    }

    .line{
        height: 390px;
    }

    .skills-container{
        padding: 0 10% 0 10%;
    }

    .nav{
        width: 100%;
    }

    .content-main{
        margin-top: 30%;
    }
}

@media(max-width:417px){
    .line{
        height: 416px;
    }
}

@media(max-width:404px){
    .line{
        height: 440px;
    }
}

@media(max-width:378px){
    .line{
        height: 466px;
    }
}

@media(max-width:375px){

    .btn{
        font-size: 20px;
    }

    .my-name{
        width: 90%;
    }

    .my-description{
        width: 90%;
    }

    .line{
        height: 466px;
    }

    .about-me{
        margin-left: 16px;
    }
}

@media(max-width:365px){
    .line{
        height: 490px;
    }
}

@media(max-width:352px){
    .line{
        height: 540px;
    }
}

@media(max-width:339px){
    .line{
        height: 566px;
    }
}

@media(max-width:326px){
    .line{
        height: 590px;
    }
}

@media(max-width:320px){

    .line{
        height: 590px;
    }

    .btn{
        font-size: 18px;
    }
}